.ContentHome{
    display: flex;
    flex-direction: column;
}
.contentIMGFondo{
width: 100vw;
height: 500px;
background-image: url('../../assets/fondoHome.png');
background-size: 100vw auto;
background-repeat: no-repeat;
background-attachment: fixed;

display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
}

.TitleHome{
    margin: 0;
    color: #FFF;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 200;
line-height: normal;
}
.SubTitleHome{
    margin: 0;
    color: #FFF;
font-family: Inter;
font-size: 130px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

